.myButton {
    border: 1px solid black;
    padding: 1%;
    border-radius: 13px;
    background: linear-gradient(rgb(244, 244, 244),rgb(155, 151, 151));
    text-decoration: none;
    color: #696565;
    font-weight: bold;
    font-family: sans-serif;
}

.myButton:hover {
    background: linear-gradient(rgb(242, 234, 234), rgb(105, 101, 101));
}

.myButton:active {
    color: #696565;
    position: relative;
    top: 1px;
}